/* System UI theme */

/* darkish theme */
:root {
    --icon-background-active: skyblue;
    --icon-color-active: rgb(50, 50, 50);
    --icon-background-inactive: lightslategray;
    --icon-color-inactive: lightgray;

    --keyboard-height: 180px;
    --statusbar-height: 2.5em;
    
    /* Desktop mode statusbar colors */
    --statusbar-desktop-background: rgba(25, 25, 35, 0.85);
    --statusbar-desktop-text-color: #ffffff;
    --statusbar-desktop-height: 3.75em; /* 1.5 times the normal height */
}
